{:objects
 {:Book
  {:description "A physical book identified by ISBN."
   :fields      {:title       {:type (non-null String)}
                 :borrowed    {:type Boolean}
                 ;; ISBN-13 is too big for Int
                 :isbn        {:type (non-null Float)}
                 :volume      {:type Int}
                 :series      {:type Int}
                 :publisher   {:type String}
                 ;; TODO: scalar type Date
                 ;; :pubdate {:type :date}
                 :cover       {:type String}
                 :author      {:type String}
                 :stock_count {:type Int}}}}
 :queries
 {:book_by_isbn
  {:type        :Book
   :description "Access a Book by its ISBN-13, if it exists."
   :args        {:isbn {:type (non-null Float)}}
   :resolve     :query/book-by-isbn}

  :book_by_text
  {:type        (list :Book)
   :description "タイトルやアブストを全文検索した結果を返します"
   :args        {:text {:type (non-null String)}}
   :resolve     :query/book-by-text}}

 :mutations
 {:register_book
  {:type        :Book
   :description "Store a Book by ISBN-13. If already registered Book was requested, that stock is incremented."
   :args        {:isbn {:type (non-null Float)}}
   :resolve     :mutation/register-book}}}
